// Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  min-height: 99.4vh;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// Colors

//   $offwhite: # ;
//   $main-color: # ;
//   $accent-color: # ;
//   $light-color: # ;
//   $hover-color: # ;
//   $border-color: # ;
//   $fine-text-color: # ;

// Typefaces

//   $head-font: "  ", sans-serif;
//   $sub-font: "  ", sans-serif;
//   $body-font: "  ", sans-serif;

// Type sizes

//   $head-size: 40px;
//   $sub-size: 30px;
//   $body-size: 20px;
//   $button-size: 22px;
