// Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  min-height: 99.4vh;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

// Colors

$main-color: #0E2C36 ;
$light-color: #f9f9f9 ;
$dark-color: #0e1111;
// $hover-color: # ;

// Typefaces

@mixin head-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

@mixin sub-font {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

@mixin body-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@mixin logo-font {
  font-family: 'Parisienne', cursive;
}

// Type sizes

$head-size: 40px;
$sub-size: 30px;
$body-size: 20px;
$button-size: 22px;