@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  min-height: 99.4vh;
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
body ::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 375px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  body {
    background: #eee;
  }
  .hero {
    height: 100vh;
  }
  .hero .swiper {
    width: 100%;
    height: 100%;
  }
  .hero .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .category-jewelry {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .category-jewelry .category {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-inline: 10px;
  }
  .category-jewelry .category .category-name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #36454F;
    color: white;
  }
  .category-jewelry .category .category-image {
    width: 100%;
  }
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #af940e rgba(92, 92, 92, 0.231372549);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(92, 92, 92, 0.231372549);
}

*::-webkit-scrollbar-thumb {
  background-color: #af940e;
  border-radius: 6px;
  border: 0px none #ffffff;
}

@media screen and (min-width: 992px) {
  #about-page {
    width: 100%;
  }
  #about-page #about-hero {
    padding: 5% 5% 5% 5%;
    background-color: #0E2C36;
  }
  #about-page #about-hero h2 {
    color: #f9f9f9;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
  }
  #about-page #about-hero p {
    color: #f9f9f9;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  #about-page #about-mid-section h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
  }
  #about-page #about-mid-section .about-card h4 {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
  }
  #about-page #about-mid-section .about-card p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  #about-page #about-final-section h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
  }
  #about-page #about-final-section p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
}