@media screen and (min-width: 992px) {
  // Home - New arrivlas
  .product-slider {
    .product-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $main-color #5c5c5c3b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #5c5c5c3b;
}

*::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 6px;
  border: 0px none #ffffff;
}

@media screen and (min-width: 992px) {
  .home {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    .hero {
      height: 95vh;
      width: 99vw;
      overflow-x: hidden;

      .swiper {
        width: 100%;
        height: 100%;
        img {
          background-color: #0e2c3699;
          position: relative;
        }
        .hero-details-wrapper {
          background-color: #0e2c3680;
          position: absolute;
          width: 100%;
          height: 100%;
          .hero-details {
            display: flex;
            position: absolute;
            top: 200px;
            flex-direction: column;
            align-items: flex-start;
            margin: 0px 500px 0px 120px;
            text-align: start;
            padding: 10px;
            border-radius: 5%;
            backdrop-filter: blur(2px);
            h2 {
              @include head-font;
              font-size: $head-size;
              color: $light-color;
            }

            p {
              @include body-font;
              font-size: $body-size;
              color: $light-color;
            }

            button {
              margin: auto 0%;
              color: $light-color;
              @include head-font;
              width: 100px;
              height: 40px;
              text-decoration: none;
              background-color: #0e2c36;
              margin-top: 10px;
            }
          }
        }
      }

      .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-button-prev {
        display: block;
      }

      .swiper-button-next {
        display: block;
      }
    }

    .category-jewelry {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 50px;
      width: 99vw;

      .category {
        overflow: hidden;
        margin-bottom: 10%;
        position: relative;
        width: 200px;
        height: 200px;
        border: 1px solid black;

        .category-name {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          padding: 5px;
          text-align: center;
          background-color: $main-color;
          color: $light-color;
          @include head-font;
        }

        .category-image {
          width: 100%;
        }
        .category-name:hover {
          transition: 0.4 all;
          background-color: #0e2c36b3;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .product-slider {
      background-color: $main-color;
      padding-bottom: 30px;
      overflow-x: hidden;
      width: 99vw;
      h3 {
        @include head-font;
        text-align: center;
        color: $light-color;
        padding: 30px;
      }
      .product-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 40px;
        .text-container {
          padding: 10px;
        }
        .image-container {
          display: flex;
          justify-content: center;
          .product-image {
            width: 100%;
            height: 350px;
          }
        }
      }
    }
    .sub-hero {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      img {
        max-width: 50%;
        height: auto;
      }
      .diamond {
        width: 40%;
        background-color: $main-color;
        padding: 50px;
        h4 {
          @include head-font;
          font-size: $head-size;
          color: $light-color;
          text-align: center;
          margin: 20px;
        }
        p {
          @include body-font;
          font-size: $body-size;
          color: $light-color;
          text-align: center;
        }
        a {
          display: flex;
          justify-content: center;
          button {
            color: $light-color;
            @include head-font;
            width: 100px;
            height: 40px;
            margin: 20px;
            text-decoration: none;
            background-color: $main-color;
            border: $light-color 2px solid;
          }
        }
      }
    }
  }

  .login-signup-wrapper {
    .login-signup-modal {
      width: 40%;
      .login-modal {
        .login {
          h3 {
            @include head-font;
            text-align: center;
            font-size: $head-size;
            padding: 5% 0% 5% 0%;
          }

          div {
            @include sub-font;
            font-size: $sub-size;
          }
        }
      }
    }

    #about-page {
      width: 100%;
      #about-hero {
        background-image: linear-gradient(to top, #0e2c3690, #0e2c36),
          url("https://images.unsplash.com/photo-1620656854929-5200d5d81889?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
        padding: 15% 5% 15% 5%;
        background-size: cover;
        background-position: center;
        h2 {
          padding: 3% 5% 3% 5%;
          color: $light-color;
          @include head-font;
          font-size: $head-size;
        }
        p {
          padding: 0% 5% 0% 5%;
          color: $light-color;
          @include body-font;
          font-size: $body-size;
        }
      }
      .login-modal {
        .login {
          margin-top: 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          h3 {
            @include head-font;
            text-align: center;
            font-size: $head-size;
            padding: 5% 0% 5% 0%;
          }
          div {
            @include sub-font;
            font-size: $sub-size;
            display: flex;
            flex-direction: column;
            text-align: center;
          }
          input {
            width: 20rem;
            height: 2.5rem;
            padding: 2%;
            margin: 4% 0% 4% 0%;
            background-color: $light-color;
          }
          button {
            margin: auto 0%;
            color: $light-color;
            @include head-font;
            width: 100px;
            height: 40px;
            text-decoration: none;
            background-color: $main-color;
          }
          button:hover {
            transition: 0.3s;
            opacity: 0.8;
          }
        }
      }
    }
  }

  #about-page {
    width: 100%;
    #about-hero {
      background-image: linear-gradient(to top, #0e2c3690, #0e2c36),
        url("https://images.unsplash.com/photo-1620656854929-5200d5d81889?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
      padding: 15% 5% 15% 5%;
      background-size: cover;
      background-position: center;
      h2 {
        padding: 3% 5% 3% 5%;
        color: $light-color;
        @include head-font;
        font-size: $head-size;
      }
      p {
        padding: 0% 5% 0% 5%;
        color: $light-color;
        @include body-font;
        font-size: $body-size;
      }
    }

    #about-mid-section {
      padding: 5% 10% 10% 10%;
      h3 {
        text-align: center;
        @include sub-font;
        font-size: $head-size;
      }

      .about-card {
        text-align: center;
        padding: 10% 10% 10% 7%;
        h4 {
          @include sub-font;
          font-size: $sub-size;
        }

        p {
          @include body-font;
          font-size: $body-size;
        }
      }
    }
    #about-final-section {
      background-color: $main-color;
      padding: 10%;
      text-align: center;
      h3 {
        @include head-font;
        color: $light-color;
        padding: 2%;
        font-size: $head-size;
      }
      p {
        @include body-font;
        color: $light-color;
        font-size: $body-size;
      }
    }
  }

  // footer {
  //   width: 100%;
  //   #footer-logo {
  //     @include logo-font;
  //     text-align: center;
  //     font-size: $sub-size;
  //   }
  //   #footer-links {
  //     display: flex;
  //     justify-content: space-evenly;
  //     margin: 2% 0% 2% 0%;
  //     h2 {
  //       @include sub-font;
  //       padding: 5%;
  //     }
  //     ul {
  //       @include body-font;
  //       li {
  //         padding: 5%;
  //         width: 200px;
  //       }
  //     }
  //   }
  //   hr {
  //     margin: 0px auto;
  //     width: 80%;
  //   }
  //   #footer-copywrite {
  //     @include body-font;
  //     text-align: center;
  //     padding: 2%;
  //   }
  // }

  // .details-container {
  //   width: 90vw;
  //   margin-top: 50px;
  //   display: flex;
  //   text-align: center;
  //   flex-direction: row;
  //   justify-content: space-between;

  //   .image-container {
  //     width: 45%;
  //     transform: rotate(270deg);
  //     margin-bottom: 2em;

  //     img {
  //       // width: 320px;
  //       // height: 320px;

  //       width: 110%;
  //       height: 110%;
  //       transform: rotate(-270deg);
  //       object-fit: cover;
  //       object-position: center;
  //     }

  //     .swiper {
  //       width: 100%;
  //       height: 100%;
  //     }

  //     .swiper-slide {
  //       text-align: center;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;

  //       img {
  //         width: 420px;
  //         height: 520px;
  //         object-fit: cover;
  //         object-position: center;
  //       }
  //     }

  //     // .swiper-slide img {
  //     //   display: block;
  //     // width: 100%;
  //     // height: 100%;
  //     //   object-fit: cover;
  //     // }
  //   }

  //   .text-container {
  //     text-align: left;
  //     width: 40vw;
  //     margin-top: 50px;

  //     .detail-name {
  //       text-transform: uppercase;
  //       font-size: $sub-size;
  //       @include head-font;
  //       margin-bottom: 15px;
  //     }

  //     .detail-description {
  //       font-size: 20px;
  //       margin-bottom: 20px;
  //     }

  //     .detail-material {
  //       font-size: $body-size;
  //       @include body-font;
  //       margin-bottom: 10px;
  //     }

  //     .detail-price {
  //       @include head-font;
  //       font-size: 30px;
  //       margin-bottom: 30px;
  //     }
  //     .designer {
  //       font-size: $head-size;
  //       @include head-font;
  //       margin-bottom: 0.25em;
  //     }
  //     .button-container {
  //       .cart-button {
  //         width: 400px;
  //         height: 50px;
  //       }
  //       .wish-button {
  //         width: 400px;
  //         height: 50px;
  //       }
  //     }
  //   }
  // }
  // .comments-wrapper {
  //   flex-direction: column-reverse;
  //   margin-top: 30px;

  //   .add-comment {
  //     height: 4em;
  //     display: flex;
  //     input {
  //       height: 40px;
  //       align-self: center;
  //       margin: 0% 1% 0% 5%;
  //       width: 400px;
  //     }

  //     button {
  //       margin: auto 0%;
  //       color: $light-color;
  //       @include head-font;
  //       width: 200px;
  //       height: 40px;
  //       text-decoration: none;
  //       background-color: $main-color;
  //       button:hover {
  //         transition: 0.3s;
  //         opacity: 0.8;
  //       }
  //     }
  //   }
  // }
}

@media screen and (min-width: 1200px) {
  .product-grid {
    .product-image {
      width: 440px;
      height: 440px;
      object-fit: cover;
      object-position: center;
      margin-bottom: 1em;
    }

    .text-container {
      width: 440px;
      height: 6em;
    }
  }
}
