@media screen and (min-width: 375px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
  }

  .hero {
    height: 100vh;

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .category-jewelry {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .category {
      position: relative;
      width: 200px;
      height: 200px;
      border: 1px solid black;
      margin-inline: 10px;

      .category-name {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 5px;
        text-align: center;
        background-color: #36454f;
        color: white;
      }
      .category-image {
        width: 100%;
      }
    }
  }

  .product-grid {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0;

    .product-card {
      background-color: $light-color;
      // background-color: blue;
      color: $dark-color;
      width: 25%;
      // height: ;

      .product-image {
        width: 100%;
      }
      .product-name {
        text-align: center;
      }
      .product-description {
        text-align: center;
      }
      .product-material {
        text-align: center;
      }
      .product-price {
        text-align: center;
      }
    }
  }
}
