@media screen and (min-width: 768px) {

  nav {
    padding: 10px 0px;
    .nav-shop {
      h2 {
        font-size: 20px;
      }
    }
    .nav-logo {
      h1{
        font-size: 30px;
      }
    }
    .nav-icons {
      svg {
        color: $dark-color;
        width: 30px;
        height: 30px;
        margin-left: 20px;
      }
      button {
        margin-left: 40px;
        padding: 10px 22px;
        font-size: 15px;
      }
    }
  }

  // Home - New arrivlas
  .product-slider {
    .product-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;  
    }
  }


  .product-card {
   
    .image-container {
      display: flex;
      justify-content: center;

      .product-image {
        width: 100%;
        height: fit-content;
      }
    }
    .product-description {
      display: none;
    }
    .product-material {
      display: none;
    }
    .product-name {
      color: $light-color;
      @include head-font;
      text-align: center;
    }
    .product-price {
      text-align: center;
      color: $light-color;
      @include sub-font;
    }
  }



}// end of tablet
