@media screen and (min-width: 768px) {
  nav {
    padding: 10px 0px;
    .nav-shop {
      h2 {
        font-size: $body-size;
      }
    }
    .nav-logo {
      h1 {
        font-size: $sub-size;
      }
    }
    .nav-icons {
      svg {
        color: $dark-color;
        width: 30px;
        height: 30px;
        margin-left: $desktop-margin;
      }
      button {
        margin-left: $desktop-margin;
        padding: 10px 22px;
      }
    }
  }

  // Home - New arrivlas
  .product-slider {
    .product-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }

  .details-page {
    .details-container {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: "image text";
    }
  }

  .vendor-products,
  .regular-account-container,
  .cart-page {
    .list-item-product {
      // this is overridden by the mobile sass ?
      // grid-template-columns: 1fr 2fr 1fr;
      // grid-template-areas: "image text buttons";

      .image-container {
        position: absolute;
        top: 0;
      }
      .list-text {
        .list-creator,
        .comment-user {
          font-size: $body-size;
        }
        .list-title,
        .list-price,
        .comment-text {
          font-size: $button-size;
        }
      }
      .list-buttons {
        top: 1em;

        .edit-button,
        .add-to-cart-button {
          position: absolute;
          right: 1em;
          top: 1em;
          font-size: $button-size;
          margin-right: 0;
        }
        .remove-button,
        .view-comment {
          position: absolute;
          right: 1em;
          bottom: 1em;
          font-size: $button-size;
          text-decoration: none;
          color: $dark-color;
        }
        .edit-button:hover,
        .add-to-cart-button:hover,
        .remove-button:hover,
        .view-comment:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .add-product-section {
    form {
      .form-sections {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: "labelarea inputarea";
      }
    }
  }
} // end of tablet
